@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 , .h1 {
  @apply text-5xl font-extrabold text-primaryText;
}

h2 , .h2 {
  @apply text-4xl font-extrabold text-primaryText;
}

h3 , .h3 {
  @apply text-3xl font-bold text-primaryText;
}

h4 , .h4 {
  @apply text-2xl font-semibold text-primaryText;
}

p , .p {
  @apply text-base font-normal text-primaryText;
}

li , .li {
  @apply list-none text-primaryText;
}

.main-container {
  @apply flex flex-col gap-8 w-full 2xl:w-2/3 xl:w-[80%];
}

.card-container {
  @apply bg-lightBlue rounded-xl w-full p-2 md:p-6 flex flex-col gap-8;
}

.hero-input {
  @apply border-2 border-gray-200 px-5 py-4 rounded-lg text-primaryText font-semibold;
}

.primary-button {
  @apply bg-primaryBlue py-2 px-4 rounded-xl text-whitef hover:bg-opacity-90 transition-all duration-150 ease-in active:bg-opacity-50;
}

.premium-button {
  @apply bg-orange-400 py-2 px-4 rounded-xl transition-all text-[#3A1D0D] font-medium duration-150 ease-in hover:bg-orange-300 hover:text-primaryText;
}

.ghost-button {
  @apply bg-slate-200 cursor-pointer p-2 text-primaryText font-medium rounded-md;
}

.sso-button {
  @apply bg-whitef px-10 py-3 font-medium rounded-lg text-primaryBlue;
}

.primary-button--revert {
  @apply bg-whitef px-10 py-3 font-medium rounded-lg text-primaryBlue;
}

.secondary-button {
  @apply bg-primaryText px-10 py-2 rounded-lg text-whitef;
}

.compare-card {
  @apply p-2 flex flex-col gap-2;
}

.line {
  @apply border-b-2 border-primaryText w-1/2;
}

.ellipse {
  @apply w-4 h-4 rounded-full;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  display: block;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
