@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 , .h1 {
  @apply text-5xl font-extrabold text-primaryText;
}

h2 , .h2 {
  @apply text-4xl font-extrabold text-primaryText;
}

h3 , .h3 {
  @apply text-3xl font-bold text-primaryText;
}

h4 , .h4 {
  @apply text-2xl font-semibold text-primaryText;
}

p , .p {
  @apply text-xl font-normal text-primaryText;
}

li , .li {
  @apply list-none text-primaryText;
}

span , .span {
  @apply text-primaryBlue font-semibold;
}

.hero-input {
  @apply border-2 border-gray-200 px-5 py-3 rounded-lg text-primaryText font-semibold;
}

.primary-button {
  @apply bg-primaryBlue px-10 py-2 rounded-lg text-whitef;
}

.ghost-button {
  @apply bg-slate-200 cursor-pointer p-2 text-primaryText font-medium rounded-md;
}

.sso-button {
  @apply bg-whitef px-10 py-3 font-medium rounded-lg text-primaryBlue;
}

.primary-button--revert {
  @apply bg-whitef px-10 py-3 font-medium rounded-lg text-primaryBlue;
}

.secondary-button {
  @apply bg-primaryText px-10 py-2 rounded-lg text-whitef;
}

.line {
  @apply border-b-2 border-primaryText w-1/2;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  display: block;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
